body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PageLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

nav {
  display: flex;
  gap: 15px;
  align-items: center;
}


.footer-title {
  text-decoration: underline;
  text-decoration-thickness: 5px; 
}

/* Contact Container */
.contact-container {
  border: 1px solid black;
  border-radius: 15px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  margin: 15px;
}


/* Loader */
.loading-box {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.loader {
  width: 60px;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid black;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: black;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading.';
  }
  67% {
    content: 'Loading..';
  }
  100% {
    content: 'Loading...';
  }
}